@import url(http://fonts.googleapis.com/css?family=Amatic+SC);

.uno{
  color:orange;
}
p{
  color:#AEEEEE;
}
h3{
  color:white;
}
BODY{
  font-family:'Amatic SC';
  background-color:#222;
  font-size:21px;
  margin:3em;
  text-align:center
}
