@import url(http://fonts.googleapis.com/css?family=Amatic+SC);

.uno{
  text-align:center;
  color:orange;
}
p{
  color:#AEEEEE;
}
h3{
  color:white;
}
BODY{
  font-family:'Amatic SC';
  background-color:#222;
  font-size:21px;
}
IMG{
  : block;
  margin-left: auto;
  margin-right: auto;
}
