@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
BODY{
 font-family:'Amatic SC';
 background-color:#6B5344;
 font-size:21px;
 font-weight:bold;
 color:#ffc48c;
 line-height:149%;
 text-align:center;
}
h1{
 color:#fff;
 line-height:100%;
}
h2{
 color:#999;
 line-height:100%;
}

